@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Homemade+Apple&family=Jacquard+12&family=Jacquarda+Bastarda+9&family=Xanh+Mono:ital@0;1&display=swap');

:root{
  --pink:#d4a1c5;
  --red:#801818;
  --brown:#bb8872;
  --blue:#9db2d2;
  --black:#280801;
  --white:#fff0f5;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
  height: 10vh;
  width: 100vw;
  background-color: var(--blue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
}
.nav{
  width: 40vw;
height: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}

.social{

  height: 100%;
display: flex;
width: 15vw;
align-items: center;
justify-content: space-around;
}

.header .title-container{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}
.header .title-container #title{
  color: var(--brown);
  font-family: "Homemade Apple", cursive;
  font-size: 2rem;
  font-weight: 900;
}

body{
      max-width: 100%;
    overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main{
  background-color: var(--white);
  width: 70vw;
  margin-top: 3rem;
  height: 90vh;
}

.social a{
  color: var(--brown);
  font-size: 1.5rem;
}

.nav a{
  color: var(--brown);
  text-decoration: none;
  font-family: "Cutive Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
}