@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Homemade+Apple&family=Jacquard+12&family=Jacquarda+Bastarda+9&family=Xanh+Mono:ital@0;1&display=swap');

:root{
  --first-color:#86ABCB;
  --second-color:#885f52;
  --dark-neutral:#280801;
  --light-neutral:#E6E0C4;

  --first-transparent:#86ABCB99;
  --second-transparent:#885f5299;
  --light-transparent:#E6E0C499;
  --dark-transparent: #28080199;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cutive Mono", monospace;
}

/* background styles */

.polkadot{
	background-image: radial-gradient(var(--light-neutral) 20%, transparent 20%),
	radial-gradient(var(--first-color) 20%, transparent 20%);
  background-color: var(--second-color);
	background-position: 0 0, 75px 75px;
	background-size: 50px 50px;
}

.gingham{
  background-image: 
  linear-gradient(0deg,
      var(--first-transparent) 0% 12.5%, 
      var(--second-transparent) 12.5% 37.5%, 
      var(--light-transparent) 37.5% 62.5%, 
      var(--second-transparent) 62.5% 87.5%, 
      var(--first-transparent) 87.5% 100%
  ),
    linear-gradient(90deg,
      var(--first-transparent) 0% 12.5%, 
      var(--second-transparent) 12.5% 37.5%, 
      var(--light-transparent) 37.5% 62.5%, 
      var(--second-transparent) 62.5% 87.5%, 
      var(--first-transparent) 87.5% 100%
    );

  background-size: 80px 80px, 80px 80px;
}

.stripes{
	background: repeating-linear-gradient(
	90deg,
	var(--second-color) 0px,
	var(--second-color) 30px,
	var(--first-color) 20px,
	var(--first-color) 35px,
	var(--second-color) 35px,
	var(--second-color) 65px,
	var(--light-neutral) 65px,
	var(--light-neutral) 75px,
	var(--first-color) 75px,
  var(--first-color) 80px,
	var(--light-neutral) 80px,
	var(--light-neutral) 90px
	);
}

/*----------------------------*/

.header{
  height: 13vh;
  width: 100vw;
  background-color: var(--first-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
}
.nav{
  width: 40vw;
height: 100%;
display: flex;
align-items: center;
justify-content: space-around;

}

.nav a{
  color: var(--light-neutral);
  text-decoration: none;
  font-family: "Cutive Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav a:hover{
  color: var(--second-color);
}

.social{
  height: 100%;
  display: flex;
  width: 20vw;
  align-items: center;
  justify-content: space-between;

}

.social a{
  color: var(--light-neutral);
  font-size: 1.5rem;
}

.social a:hover{
  color: var(--second-color);
}

.header .title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20vw;


}
.header .title-container a{
  color: var(--light-neutral);
  font-family: "Homemade Apple", cursive;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

body{
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main{
  background-color: var(--light-neutral);
  width: 50vw;
  margin-top: 1.5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: .3rem var(--first-color) solid;
  border-radius: .5rem;
}

.tag-grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1rem;

}

.tag-grid .tag-container{
  background-color: var(--first-color);
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag-grid .tag-container a{
  font-family: "Cutive Mono", monospace;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}

#rights{
  font-family: "Cutive Mono", monospace;
  font-size: .7rem;
  padding: 1rem;
}
#signature{
  font-family: "Homemade Apple", cursive;
  font-size: 1.2rem;
  padding: 1rem;
}


.tags{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.tag a{
    text-decoration: none;
      border: 1px var(--first-color) solid;
      padding: .5rem;

}


  .postcard{
    margin-top: 1.5rem;

  list-style-type: none;
  padding: 1rem;
}
.postcard a{
    text-decoration: none;
}
.postcard-header{
  margin-bottom: 1rem;
}
.postcard-description{
  margin-bottom: 1rem;
}