@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Homemade+Apple&family=Jacquard+12&family=Jacquarda+Bastarda+9&family=Xanh+Mono:ital@0;1&display=swap');

:root{
  --pink:#d4a1c5;
  --red:#801818;
  --brown:#bb8872;
  --blue:#9db2d2;
  --black:#280801;
  --white:#fff0f5;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  font-family: "Cutive Mono", monospace;
}

h1{
		font-family: "Homemade Apple", cursive;
    color: #280801;
    font-size: 1.7rem;

	}

.header{
  height: 13vh;
  width: 100vw;
  background-color: var(--blue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
}
.nav{
  width: 40vw;
height: 100%;
display: flex;
align-items: center;
justify-content: space-around;

}

.nav a{
  color: var(--white);
  text-decoration: none;
  font-family: "Cutive Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav a:hover{
  color: var(--brown);
}

.social{
  height: 100%;
  display: flex;
  width: 20vw;
  align-items: center;
  justify-content: space-between;

}

.social a{
  color: var(--white);
  font-size: 1.5rem;
}

.social a:hover{
  color: var(--brown);
}

.header .title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20vw;


}
.header .title-container #title{
  color: var(--white);
  font-family: "Homemade Apple", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

body{
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main{
  background-color: var(--white);
  width: 50vw;
  margin-top: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tag-grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1rem;

}

.tag-grid .tag-container{
  background-color: var(--blue);
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag-grid .tag-container a{
  font-family: "Cutive Mono", monospace;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}

#rights{
  font-family: "Cutive Mono", monospace;
  font-size: .7rem;
  padding: 1rem;
}
#signature{
  font-family: "Homemade Apple", cursive;
  font-size: 1.2rem;
  padding: 1rem;
}

