---
import HTML from "../components/html.astro"
import Nav from "../components/nav.astro"
import "../styles/globa.css"
---

<HTML>
		<p>About me</p>

</HTML>

<style>
	body{
		background: repeating-linear-gradient(
		90deg,
		#bb8771 0px,
		#bb8771 30px,
		#9db2d2 20px,
		#9db2d2 35px,
		#bb8771 35px,
		#bb8771 65px,
		#fff0f5 65px,
		#fff0f5 75px,
		#9db2d2 75px,
		#9db2d2 80px,
		#fff0f5 80px,
		#fff0f5 90px
		);
	}
</style>