---
import BaseLayout from "../layouts/BaseLayout.astro"
import "../styles/global.css"
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>About me</h1>
	<p>Hello, dearest reader! My name is Rachel, and I'm a 21-year-old Brazilian/Portuguese 
		culinary student based in the UK. I have been around blogging my whole 
		life - I even had a "travel blog" with my mom when i was 11 and we were
		moving to Euroupe - so i wanted to create a space for myself in the 
		internet where i could write and publish about my interests but also 
		show my work.</p>
		<p>I'm interested in a variety of topics that include - but not limited to: movies, comic books, fashion, politics, history, programing, gastronomy.
		</p>
		<span id="signature">Yours sinceraly, Rachel</span>
</BaseLayout>

<style>

	body{
		background: repeating-linear-gradient(
		90deg,
		#bb8771 0px,
		#bb8771 30px,
		#9db2d2 20px,
		#9db2d2 35px,
		#bb8771 35px,
		#bb8771 65px,
		#fff0f5 65px,
		#fff0f5 75px,
		#9db2d2 75px,
		#9db2d2 80px,
		#fff0f5 80px,
		#fff0f5 90px
		);
	}
</style>