---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Rachel Costeira";
import "../styles/global.css";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Welcome to my blog!</h1>
</BaseLayout>

<style>
	body{
		background-image: radial-gradient(#fff0f5 20%, transparent 20%),
		radial-gradient(#9db2d2 20%, transparent 20%);
		background-color: #bb8771;
		background-position: 0 0, 75px 75px;
		background-size: 50px 50px;
	}
</style>