---
import Nav from "./Navegation.astro"
import Social from "./Social.astro"
---

<div class="header">
    <div class="title-container">
        <a href="/" >Rachel Costeira</a>
    </div>
    <Nav />
    <Social />
</div>
