<div class="social">
    <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
    <a href="pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
    <a href="github.com"><i class="fa-brands fa-github"></i></a>
    <a href="goodreads.com"><i class="fa-brands fa-goodreads"></i></a>
    <a href="letterboxd.com"><i class="fa-brands fa-letterboxd"></i></a>
</div>