<div class="social">
    <a href="instagram.com/rachcst"><i class="fa-brands fa-instagram"></i></a>
    <a href="github.com/rachcst"><i class="fa-brands fa-github"></i></a>
    <a href="goodreads.com/rachcst"><i class="fa-brands fa-goodreads"></i></a>
    <a href="letterboxd.com/rachcst"><i class="fa-brands fa-letterboxd"></i></a>
</div>