---
import BaseLayout from "../layouts/BaseLayout.astro"
import "../styles/global.css"
import { formatDate } from "../js/utils.js"
const pageTitle="Blog Post"
const { frontmatter } = Astro.props;
const { title, description, date, author } = frontmatter;
---

<BaseLayout pageTitle={title}>

    <h1>{title}</h1>
    <p>by {author} - {formatDate(date)}</p>
    <slot/>
</BaseLayout>

